{% load staticfiles %}<!DOCTYPE html>
<html>
    <head>
        <title>Aquajogging.se | Portal</title>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static "portal/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "portal/css/bootstrap-theme.css" %}" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <script src="{% static "portal/js/jquery-1.11.0.min.js" %}" type="text/javascript"></script>
        <script src="{% static "portal/js/bootstrap.js" %}" type="text/javascript"></script>
        <script src="{% static "portal/js/Chart.min.js" %}" type="text/javascript"></script>
        <style type="text/css">

        </style>
    </head>
    <body role="document">

        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Aquajogging.se</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}
                <li><a>Hello, {{user.username}}!</a></li>
               
                {% else %}
                <li><a href="{% url 'account_login' %}">Log in</a></li>
                {% endif %}
                
                
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="span12">
                    <div class="box-i">
                    {% block menu %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="span12">
                    <div class="box-i">
                    {% block notify %}
                        {% if success %}
                        <div class="alert alert-success">{{success}}</div>
                        {% endif %}

                        {% if warning %}
                        <div class="alert alert-warning">{{warning}}</div>
                        {% endif %}
                        {% if error %}
                        <div class="alert alert-danger">{{error}}</div>
                        {% endif %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="span12">
                    <div class="box-i">
                    {% block top %}
                        
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-md-12">
                    {% block body %}
                    {% endblock %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer class="footer row">
            <div class="container">
                <div class="box-i" style="text-align: center">
                &copy; 2014 AquajoggingSE.
            </div>
            </div>
        </footer>
    </body>
</html>